
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    

    {{#if user}}

      <nav>
        <ul>
     
         <li>
            <a href="/employee/profile">Profile</a>
         </li>
         <li>
            <a href="/employee/hours">Hours</a>
         </li>
       
             <li class="dropdown">
                <a href="#" class="dropbtn">Clock</a>
                 <div class="dropdown-content">
                    <a href="/employee/clockin">Clock in</a>
                  <a href="/employee/clockout">Clock out</a>
               </div>
            </li>
         <li>
            <form action="/employee/logout" method="POST">
            <button type="submit">Log out</button>
            </form>
         </li>
        </ul>
    </nav>

 <div id="profile-wrapper">
   
    <h3>Welcome {{user.firstName}}!</h3> 
    <p>This is your profile page</p>  
 </div>


{{/if}}
 

</body>
</html>


